*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.flex-container {
  background-color:#FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.main-menu {
  display: flex;
  list-style: none;
}

ul.main-menu li a {
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  color: black;
} 

ul.main-menu li a:hover {
  color: #F17228;
  transform: scale(1.1);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4);
}

a.search-in-btn {
  text-decoration: none;
  color: black;
  font-size: 15px;
  padding: 15px;
}

a.search-in-btn img {
  height: 13px;
}

a.search-in-btn:hover {
  color: #F17228; 
}

a.sign-in-btn {
  text-decoration: none;
  font-size: 20px;
  color: #FF8A00;
  /* color: #FFB800; */
  padding: 5px;
  border:1px solid #FFB800;
  border-radius: 6px;
  margin-right: 5px;
}
a.sign-in-btn img {
  height: 15px;
}

a.sign-in-btn:hover {
  background-color: #F17228;
  color: #fff;
}
 /* <!-- Nav section end . --> */


 /* <!-- Hero section start. --> */



.hero-flex-container {
  background-image: url(img/Group\ 1\ 1.png);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding:60px;
  height: 516px;
}

.hero-text-container h1 {
  font-size: 50px;
  color: #fff;
  margin-left: 27px;
}

.hero-text-container p {
  font-size: 13px;
  margin-left: 28px;
  padding: 15px;
  
}
.hero-text-container img {
  width: 600px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}
.hero-text-container img:hover{
  border-radius: 20px;
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3)
}

.hero-img-col img {
  width: 420px;
}

/* <!-- Hero section end. --> */

/* <!-- Card section start. --> */

.card-flex-container {
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 15px;
  
}

.card-text-col {
  height: 300px;
  width: 356px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 18px rgba(17, 17, 17, 0.1);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.card-text-col img {
  height: 201px;
  width: 256px;
}
.card-text-col p {
  padding: 24px;
  color: black;
  padding-left: 3px;
}
.card-text-col a {
  text-decoration: none;
  background-color: #f3dfd3;
  padding: 10px 8px;
  color:#F17228;
  border-radius: 9px;
  font-size: 13px;
}
.card-text-col:hover {
  transform: translateY(-15px) scale(1.08);
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

.card-text-col a:hover {
  background-color: #F17228;
  color: #fff;
}

/* <!-- Card section end. --> */


